@font-face {font-family: "Nokio Medium"; src: url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.eot"); src: url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.woff") format("woff"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.svg#Nokio Medium") format("svg"); }


body {
  margin: 0;
  background:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-family: 'Nokio Medium';
}
h2 {
  font-family: 'Nokio Medium';
}
h3 {
  font-family: 'Nokio Medium';
}
h4{
  font-family: 'Nokio Medium';
}
.nav-item-2 {
  font-family: 'Nokio Medium';
}
.floating-overlay {
  position: absolute;
  width: 30vw;
  height: 25vh;
  left: 33vw;
  top: 25vh;
}
.exit {
  padding-bottom: 1%;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0%;
  top: 0%;
}
.bg-standard {
  background: white;

}
.react-emoji:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.btn-primary {
  background-color: #6C9F7F;
  outline-color:  #6C9F7F;
}
.btn-secondary {
  background-color: #E3A473;
}
.btn-primary:hover {
  background-color:  #395343;
}
.btn-primary:clicked {
  background-color:  #395343;
}
a {
  color: #E3A473;
}
.card {
  margin: 0.05%;
}
.img-fluid{
  max-height: 300px;
}


a:hover {
  color: #946c4d;
}
.reaction-box {
  height: 100%
}
.navbar-haypenny {
  color: #E3A473;
  font-family:'Courier New', Courier, monospace
}

html {
  font-size: 1rem;
}

.overlay {
  position: absolute;
  width: 90vw;
  height: 50%;
  left: 5vw;
  top: 20vh;
}